<html>
<head>
<title>Simple app</title>
</head>
<body>
{% block links %}
<a href="/add_person">all persons/add person</a>
<a href="/edit_person">edit person</a>
<a href="/settings">view settings</a>
<a href="/first10items">first 10 items</a>
<a href="/customtag">custom tag</a>
<a href="/">main</a>
<br/><br/>
{% endblock%}

{% block content %}

{% block items %}
{% for p in items %}
    {% for name, value in p.get_fields %}
        {% if value %}
            {{ name }} => {{ value }} <br/>
        {% endif %}
    {% endfor %}
{% endfor %}
<hr/>
{% endblock%}

{% endblock%}
<div id="form">
<div id="load" style="display:none;color:red">Loading..</div>
{% block form %}{%endblock%}
</form>
</body>
